html {
  height: 100%;
}

body {
  margin: 0%;
}

.container {
  margin: auto;
  max-width: 600px;
  font-family: sans-serif;
  clear: both;
  padding-top: 100px;
}

.heading {
  color: #fd8a8a;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

header {
  width: 100%;
  display: flex;
  background-color: #24292f;
}

.title-header {
  display: flex;
  align-items: center;
  float: left;
  width: 50%;
  height: 44px;
  margin: 0;
  padding-left: 10%;
  font-size: 32px;
  box-shadow: none;
}

nav {
  width: 50%;
  float: right;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
  float: right;
}

.nav-link-item {
  padding-right: 3rem;
  display: table-cell;
}
.nav-link-text {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}

a:visited {
  text-decoration: none;
  color: rgba(255,255,255,0.7);
}

a:hover {
  color: rgba(255,255,255,0.7)
}

.site-title {
  font-size: 1rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  color: rgba(255,255,255,0.7);
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

.site-logo {
  font-size: 32px;
  font-weight: 100;
}

.home-image {
  visibility: hidden;
}
